

/* --- General Styles --- */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

th {
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
}

td {
  background-color: #fff;
}

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
  color: #333;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 3px solid #ccc;
  border-radius: 5px;
}

button[type="submit"],
button[type="reset"] {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button[type="submit"]:hover,
button[type="reset"]:hover {
  background-color: #0062cc;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #0056b3;
}

/* --- Form Styles --- */

form label {
  font-weight: bold;
  color: #333;
}

form input[type="text"] {
  width: calc(100% - 150px);
}

form button[type="submit"],
form button[type="reset"] {
  display: inline-block;
  margin-left: 20px;
}

/* --- Table Styles --- */

table {
  margin-bottom: 0;
}

thead {
  background-color: #007bff;
  color: #fff;
}

tfoot {
  background-color: #ccc;
}

td:last-child {
  text-align: center;
}

td:last-child a {
  color: #fff;
  background-color: #dc3545;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

td:last-child a:hover {
  background-color: #c82333;
}

td:nth-last-child(2) a {
  background-color: #28a745;
}

td:nth-last-child(2) a:hover {
  background-color: #218838;
} 

td:nth-last-child(2) a {
  background-color: #fff; /* Update this line to white */
}

td:nth-last-child(2) a:hover {
  background-color: #ddd; /* You can add a light gray hover color if you want */
}


